body {
  background-color: #f4f5f6;
}

@media only screen and (min-width: 768px) {
  #md-nav {
    position: absolute;
    left: -999999px;
  }
}

@media only screen and (max-width: 768px) {
  #lg-nav {
    position: absolute;
    left: -999999px;
  }
}

.page-header .logo {
  display: block;
  width: 132px;
  height: 20px;
  fill: white;
}

.page-header .big-logo {
  display: block;
  width: 232px;
  height: 40px;
  fill: white;
}

header nav {
  background-color: #ff0500;
}

.border {
  border-right: 0.5px solid #d9d9d9 !important;
  height: 50%;
}

.main-links-lg, .secondary-links {
    white-space: nowrap;
} 